
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.side-nav{
  width:200px;
  height: 100%;
  background: blueviolet;
  position: fixed;
  top: 0;
  left:0;
  padding: 20px 10px;
}
.logo{
  display: block;
  
}
.logo-img{
  width:150px;
}
.nav-links{
  list-style: none;
  position: relative;
}
.nav-links li{
  padding: 10px 0;
}
.nav-links a{
  color: #fff;
  text-decoration: none;
  padding: 10px 4px;
  display: flex;
  align-items: center;
}
.nav-links li a i{
  font-size: 22px;
  margin-right: 10px;
}
.active{
  width: 100%;
  height: 47px;
  position: relative;
  display: none;
  transition: top 0.5s;
}
.nav-links li:hover a{
  color:#0d74f5;
  transition: 03.s;
}
.nav-links li:hover ~.active{
  display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
  top:2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
  top:19.2%;
}
.nav-links li:nth-child(3):hover ~ .active{
  top:35.8%;
}
.nav-links li:nth-child(4):hover ~ .active{
  top:52.4%;
}
.nav-links li:nth-child(5):hover ~ .active{
  top:69%;
}
.nav-links li:nth-child(6):hover ~ .active{
  top:85.6%;
}
.logo-icon{
  display: none;
  width: 45px;
}
@media only screen and (max-width:600px) {
  .side-nav{
  width: 80px;
}
.logo-img{
  width: 70px;
}
.nav-links li{
  padding-left: 10px;
}
.nav-links li a p{
  display: none;
}
.nav-links li a i{
  margin: 0;
}
.nav-links li a {
  justify-content: none;
}
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


.wrapper{
  padding:20px;
  margin: 50px 200px ;
}
.widget-container {
  width: 612px;
  height: 412px;
  display: block;
  background-color: #313e45;
  border-radius: 25px;
  /* border: 5px solid #eceff1;  */
  
}

.top-left {
  height: 60%;
  width: 50%;
  /*   background-color:red; */
  padding: 30px 0 0 30px;
  display: inline-block;
}

.searchInput {
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
}


.searchInput input {
  width: 100%;
  height: 3rem;
  outline: none;
  font-size: 1.5rem;
  color: #112675;
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid #360a49;
}

.searchInput input:focus {
  border: 1px solid #9c9dde;
}

.searchInput button {
  width: 2.5rem;
  height: 3rem;
  cursor: pointer;
  color: #9b9b9b;
  border-radius: 50%;
  margin-left: 0.4rem;
  transition: all 0.3s ease;
  background-color: #fff;
  border: 1px solid #604295;
}

.searchInput button:hover {
  color: #fff;
  background-color: #9c9dde;
  border: 1px solid #9c9dde;
}
.top-right {
  height: 60%;
  width: 50%;
  /*   background-color: blue; */
  float: right;
  padding: 80px 0 0 0;
}
.weatherIcon {
 
  
  padding-left: 5rem;
}

.weatherIcon img {
  max-width: 100%;
  height: 100px;
  width: 120px;
}
.bottom-left {
  height: 40%;
  width: 45%;
  /*   background-color:orange; */
  float: left;
  margin: 0;
  padding: 40px 0 0 50px;
}


.bottom-right {
  height: 40%;
  width: 55%;
  /*   background-color: brown; */
  float: right;
  padding: 25px 0 0 60px;
}





h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}


/* Top-left Div CSS */

#city {
  font-weight: 900;
  font-size: 25px;
}

#day {
  font-weight: 700;
  font-size: 25px;
  margin-top: 18px;
  color:#fff;
}

#date {
  font-weight: 500;
  font-size: 20px;
  margin-top: 4px;
  color:#fff;
}

#time {
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
  color:#fff;
}



.top-left > a {
  text-decoration: none;
  color: white;
}

.top-left > a:hover {
  color: #b0bec5;
}


/* Top-Right Div CSS */
.desc{
  padding-top: 10px;
  font-size: 25px;
  color: #fff;
  align-items: center;
}



/* Horizontal-Half-divider */

.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: #263238;
}

.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 167px;
  background-color: #263238;
  
  display: inline-block;
  padding: 0;
}


/* Bottom-left CSS */


.weather{
  font-size: 60px;
  align-items: center;
  color:#fff;
}




/* Bottom-Right CSS */

.other-details-key {
  float: left;
  font-size: 23px;
  font-weight: 300;
  color:#fff;
}

.other-details-values {
  float: left;
  font-size: 23px;
  font-weight: 400;
  margin-left: 40px;
  color:#fff;
}
.humidityBox img {
  max-height: 3rem;
  margin-right: 0.5rem;
}


 .windSpeed img {
  max-height: 3rem;
  margin-right: 0.5rem;
}



/* responsive design */
@media only screen and (max-width:600px){
  .widget-container {
    width: 350px;
    height: 400px;
    display: block;
    background-color: #313e45;
    border-radius: 25px;
    /* border: 5px solid #eceff1;  */
    
  } 
  .wrapper{
      padding:0px;
      margin: 50px 150px ;
  }

  
.top-left {
  height:50px;
  width: 100%;
  /*   background-color:red; */
  padding: 0 0 0 20px;
  display: inline-block;
}

.searchInput {
  width: 95%;
  display: flex;
  padding: 1rem 0rem;
}


.searchInput input {
  width: 100%;
  height: 2rem;
  outline: none;
  font-size: 1rem;
  color: #112675;
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid #360a49;
}


.searchInput button {
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  color: #9b9b9b;
  border-radius: 50%;
  margin-left: 0.4rem;
  transition: all 0.3s ease;
  background-color: #fff;
  border: 1px solid #604295;
}


.top-right {
  height: 10%;
  width: 70%;
  /*   background-color: blue; */
  float: right;
  padding: 10px 20px 0 0;
}
.weatherIcon {
  padding-left: 1rem;
}

.weatherIcon img {
  max-width: 100%;
  height: 70px;
  width: 90px;
}
.bottom-left {
  height: 40%;
  width: 45%;
  /*   background-color:orange; */
  float: left;
  margin: 0;
  padding: 20px 0 0 30px;
}


.bottom-right {
  height: 40%;
  width: 55%;
  /*   background-color: brown; */
  float: right;
  padding: 15px 0 0 17px;
}


.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: 150px;
  background-color: #263238;
}




/* Top-left Div CSS */


#day {
  font-weight: 700;
  font-size: 15px;
  padding: 0 120px;
  color:#fff;
  margin-top:1px ;
}

#date {
  font-weight: 500;
  font-size: 15px;
  padding: 0 100px;
  margin-top: 2px;
  color:#fff;
}

#time {
  font-weight: 400;
  font-size: 15px;
  padding: 0 120px;
  margin-top: 3px;
  color:#fff;
}


/* Top-Right Div CSS */
.desc{
  padding-top: 15px;
  font-size: 25px;
  color: #fff;
  align-items: center;
}


.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 120px;
  background-color: #263238;
  
  display: inline-block;
  padding: 0;
}


/* Bottom-left CSS */


.weather{
  padding: 20px 20px;
  font-size: 25px;
  align-items: center;
  color:#fff;
}

/* Bottom-Right CSS */

.other-details-key {
  float: left;
  font-size: 13px;
  font-weight: 300;
  color:#fff;

}

.other-details-values {
  float: left;
  font-size: 13px;
  font-weight: 400;
  margin-left: 40px;
  color:#fff;
}
.humidityBox img {
  max-height: 2rem;
}


.windSpeed img {
  max-height: 2rem;
  margin-right: 0.5rem;
}
}
.align{
  display: inline-flex;
  margin-right: 0.1% ;
  
}
.trip{
  padding-right: 10px;
  position: absolute;
  left: 750px;
  margin: 70px 100px;
  width: 390px;
  height: 420px;
  display: flex;
  background-color: #313e45;
  border-radius: 25px;

}

.service-logo{
  
  height: 100%;
  width: 100%;
}
.flex-container {
  display: flex;
  padding: 150px 0px;
  position: absolute;
  flex-wrap: wrap;
}

.flex-container > div {
  
  width: 120px;
  margin: 3px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;

  
}
.plans {
  height: 50px;
  width: 300px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  left: 50px;
  top: 50px;
  
}

@media only screen and (max-width:600px){
  .trip {
    width: 350px;
    height: 400px;
    display: block;
    background-color: #313e45;
    border-radius: 25px;
    /* border: 5px solid #eceff1;  */
    
  } }







